*{
    box-sizing: border-box;
}

header{
    padding: 35px;
    text-align: center;
    border: 1px solid green;
    background-color: #cc4a4a;
}

nav{
    float: left;
    width: 20%;
    text-align: center;
}

nav ul{
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 0px;
    border: 1px solid green;
    background-color: blue;
    margin-top: 0px;
}

nav ul li a {
    display: block;
    color: #ffff00;
    padding: 8px 16px;
    text-decoration: none;
}

nav ul :hover{
    background-color: rgb(4, 0, 255);
    color: #fff;
}

article{
    float: left;
    width: 80%;
    border: 1px solid rgb(175, 128, 25);
    background-color: #e5e5e5;
    padding: 0 20px;
}

footer{
    text-align: center;
}

.satu{
    font-family: 'Times New Roman', Times, serif;
    color: blue; 
}

.dua{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

